/* Missed in BluePrint */
input[type=email] {background-color:#fff;border:1px solid #bbb;}
input[type=email]:focus {border-color:#666;}
input[type=email] {margin:0.5em 0;}
input[type=file] {margin:0.5em 0;}

/* Default styles CSS */
body {
	background: #364752 url("../images/bg.jpg") repeat-x 0 0;
}
.gradient-bg {
	background-color: #4F6573;
}
div.main-content {
	padding-top: 20px;
}
div.flash {
	margin: 1em 50px 0 50px;
	margin-bottom: 1em;
}
#top-bar {
	height: 40px;
	left: 0px;
	position: absolute;
	width: 100%;
	z-index: -1;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 2px 0px;
}

/* Top Navigation */
header {
	display: block;
	height: 40px;
	position: relative;
	text-align: center;
	width: 100%;
}
nav#top-nav {
	margin: 0px auto;
}
nav#top-nav logo {
	float: left;
	margin-top: -5px;
	margin-left: 20px;
}
nav#top-nav logo a {
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #FDFDFD;
	text-shadow: 1px 1px 0px #415A5F;
}
nav#top-nav ul {
	float: right;
	list-style-type: none;
	margin-bottom: 0;
}
nav#top-nav ul li {
	margin-top: 10px;
	display: inline-block;
}
nav#top-nav ul li a {
	outline: none;
	font-size: 14px;
	margin-left: 5px;
	color: #B2CAD0;
	text-shadow: 1px 1px 1px #415A5F;
}

/* Form styles */
form {
	margin-bottom: 1em;
}
form.fancy-big label {
	float: left;
	width: 100px;
	text-align: right;
	margin: 0.5em 0.5em;
	padding: 6px;
	font-size: 14px;
}
form.fancy-big input {
	padding: 6px;
	font-size: 16px;
	width: 300px;
}
form.fancy-big input[type='submit'] {
	margin-left: 120px;
	width: auto;
}

/* Simple form style */
.simple_form div.boolean label, .simple_form label.collection_radio {
  float: none;
  margin: 0;
}
.simple_form label.collection_radio {
  margin-right: 10px;
  margin-left: 2px;
}
.simple_form .error {
	clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #D00;
  display: block;
}
.simple_form .hint {
  clear: left;
  margin-left: 120px;
  font-size: 12px;
  color: #555;
  display: block;
  font-style: italic;
}

div.main-content {
	background-color: #FDFDFD;
	margin-top: 16px;
	-webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 18px 0px;
	-moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 18px 0px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 18px 0px;
}

/* User profile page */
#about {
	color: #5c5c5c;
	font-size: 1em;
	line-height: 1.4em;
}
#resume {
	float: right;
}
.resume-section {
	margin-bottom: 20px;
}
#about h2 {
	background: url(../images/title-arrow.png) no-repeat 2% 50%;
	color: #222222;
	font: normal 1.25em Helvetica, Arial, sans-serif;
	margin-bottom: .625em;
	padding-left: 25px;
}
.resume-set {
	background: url(../images/divider-texture.png) no-repeat 0 0;
	margin-bottom: 10px;
	padding-top: 20px;
}
.resume-set h3 {
	color: #132536;
	font: italic normal 1.1em Georgia, 'Times New Roman', Times, serif;
	margin-bottom: .625em;
}
.resume-set h3 .resume-title-divider {
	color: #a7a7a7;
	font-size: .875em;
	padding: 0 3px;
}
.resume-set h3 .resume-title-detail {
	color: #2f5d87;
	font: bold 0.95em Helvetica, Arial, sans-serif;
	letter-spacing: -1px;
}
.resume-set h3 .resume-date {
	color: #7e7e7e;
	font: bold .75em/1em Helvetica, Arial, sans-serif;
	letter-spacing: 0;
	padding-left: 2px;
	text-transform: uppercase;
}
.resume-set p {
	color: #7e7e7e;
	font-size: 0.8em;
	line-height: 1.2em;
	margin-bottom: .625em;
	padding: 0 0 0 25px;
}
.resume-set p em {
	color: #616161;
	font-size: 0.9em;
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
}
.resume-set p .resume-skills {
	color: #9e332e;
}
.about-list li {
	font: 0.9em Helvetica, Arial, sans-serif;
	list-style: square inside;
	color: #616161;
	padding: 0 0 3px 6px;
}
.about-contacts li {
	font: normal 0.9em Helvetica, Arial, sans-serif;
	list-style-type:none;
	color: #9e332e;
	padding: 0 0 3px 6px;
}
.about-contacts li em {
	font: bold 0.9em Helvetica, Arial, sans-serif;
	color: #616161;
}
#resume {
	padding-right:24px;
}

/* Login form */
.login-left-side {
	float: left;
	width: 450px;
}
.login-right-side {
	margin-left: 450px;
	width: 500px;
}
#login form {
	padding-bottom: 20px;
}
#login .services {
	padding: 20px 0 20px 0;
	border-top: dotted 1px;
	border-bottom: dotted 1px;
	margin-bottom: 20px;
}
#login .services ul {
	list-style-type: none;
	margin: 0px;
}
#login .services ul li{
	display: inline-block;
}
#login .services ul li a {
	padding-left: 20px;
	margin-left: 10px;
	border: none;
	font-size: 16px;
}
#login .services ul li a#twitter {
	background: url(../images/twitter.png) no-repeat left center;
}
#login .services ul li a#facebook {
	background: url(../images/facebook.png) no-repeat left center;
}
#login .services ul li a#ldap {
	background: url(../images/ldap.png) no-repeat left center;
}

/*sign up form */
.sign-up-left {
	float: left;
	width: 450px;
}
.sign-up-right {
	margin-left: 450px;
	width: 500px;
}

/* Side panel with user info */
.user-panel {
	padding-left: 16px;
}

/* Avatar cropping */
#div-crop-original {
	float: left;
	width: 200px;
	margin-bottom: 20px;
	margin-right: 20px;
}
#div-crop-preview {
	margin-bottom: 10px;
}

/* Event feed*/
.event-feed {
	border-left: 1px solid;
}
#event-today {
	background-color: #FFF1AF;;
}
.event-feed .date-info {
	width: 20px;
	padding: 0 5px;
	font-size: 16px;
	float: left;
}
.event-feed .event-info {
	border-left: 1px solid;
	width: 78px;
	height: 80px;
	margin-left: 30px;
}
.event-feed .photo {
	text-align: center;
}
.event-feed .photo img {
	padding: 5px 10px 0 10px;
}

/*user list */
vcard {  
}
.vcard img {
	float: left;
}
.vcard .profile {
	float: right;
	width: 400px;
	margin: 0 200px 0 0;
}
.vcard h2 {
	color: #132536;
	font: bold normal 1.1em Georgia, 'Times New Roman', Times, serif;
	margin-bottom: .0em;
}

.vcard .role {
	color: #132536;
	font: normal 1em Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 0em;
	letter-spacing: -1px;
}

.vcard .email {
	color: #132536;
	font: italic normal 0.9em Georgia, 'Times New Roman', Times, serif;
	margin-bottom: 0em;
}

.vcard .profile p {
	color: #7e7e7e;
	font-size: 0.8em;
	line-height: 1.2em;
	margin-bottom: .625em;
}