<div class="span-8 colborder" id="about">  
  <%= @user.email %>
  <p>Short introduction (Hi, mi name is... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.)</p>
  <h2>Interests:</h2>
  <div class="about-list">
    <ul>
	  <li>Interest 1</li>
      <li>Interest 2</li>
      <li>Interest 3</li>
    </ul>
  </div>
  <h2>Skills and Tools:</h2>
  <div class="about-list">
    <ul>
      <li>Skill 1</li>
      <li>Skill 2</li>
      <li>Skill 3</li>
    </ul>
  </div>
  <h2>Contacts:</h2>
  <div class="about-contacts">
    <ul>
    <li><em>Tel:</em> +7-XXX-XXX-XXXX</li>
 		<li><em>E-mail:</em> user@example.com</li>
    <li><em>Skype:</em> skype_nick</li>
    <li><em>GTalk:</em> gtalk@example.com</li>
    <li></li>
    <li>
	    <img src="../images/twitter.png" alt="Twitter" />
	    <img src="../images/facebook.png" alt="Facebook"/>
      <img src="../images/flickr.png" alt="Flickr"/>
      <img src="../images/linkedin.png" alt="LinkedIn"/>
      <img src="../images/rss.png" alt="Blog"/></li>
    </ul>
  </div>
</div>
<div class="span-10 last">
  <div id="resume">
    <div class="resume-section">
      <h2>Work Experience</h2>
      <div class="resume-set">
        <h3>Position <span class="resume-title-divider">/</span> <span class="resume-title-detail">Company <span class="resume-date">YYMMDD-YYMMDD</span></h3>
        <p><em>Responsibilities:</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><em>Overview:</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <p><em>Skills: </em><span class="resume-skills">Skill1, Skill2, Skill3, Skill4, Skill5</span></p>
      </div>
	  <div class="resume-set">
        <h3>Position <span class="resume-title-divider">/</span> <span class="resume-title-detail">Company <span class="resume-date">YYMMDD-YYMMDD</span></h3>
        <p><em>Responsibilities:</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p><em>Overview:</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        <p><em>Skills: </em><span class="resume-skills">Skill1, Skill2, Skill3, Skill4, Skill5</span></p>
      </div>
    </div>
    <div class="resume-section">
      <h2>Education</h2>
      <div class="resume-set">
        <h3>Bachelor of...<span class="resume-title-divider">/</span> <span class="resume-title-detail">University</span> <span class="resume-date">YYMMDD-YYMMDD</span></h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>




